body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    margin: 0;
    background: #281606;
    color: #fff;
}

h1, h2, .logo, .header-text p span {
    font-family: "Satisfy", cursive;;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-right ul {
    list-style: none;
}

.nav-right ul li {
    display: inline-block;
    margin-right: 30px;
}

.nav-right a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav-right a:hover {
    transition: all 1s;
    color: #cbced3;
    letter-spacing: .1em;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.smaller-container {
    width: 65vw;
    margin: 0 auto;
}

.logo {
    margin: 0;
}

.header-main {
    display: flex;
    padding: 80px 0;
}

.header-img {
    flex: 2;
}

.header-img img {
    width: 100%;
    max-width: 1500px;
}

.header-text {
    padding-right: 40px;
    flex: 1;
}

.header-text h1 {
    margin-bottom: 0;
}

.header-text p {
    line-height: 1.75;
}

.header-text p span {
    position: relative;
    display: block;
    font-size: 1.25em;
    margin-top: -20px;
    z-index: 0;
}

header button {
    background:#a4ac86;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.15em;
}

header button:hover {
    background:#70765b;
    cursor: pointer;
}

header button:active {
    background:#3a3d2f;
}

section {
    padding: 60px 0;
}

.intro h2 {
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    align-items: flex-start;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    max-width: 200px;
    overflow: hidden;
}

.intro .image {
    height: 150px;
    max-width: 150px;
    border: 2px solid #c2c5aa;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.image img {
    width: 100%;
}

.testimony {
    background: #e5e7eb;
}

.testimony blockquote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937
}

.testimony footer {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
}

.cta .smaller-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c2c5aa;
    padding: 40px;
    border-radius: 15px;
    color: #fff;
}

.cta h3 , .cta p{
    margin: 0;
}

.cta button {
    background-color: #c2c5aa;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 5px;
}



.cta button:hover {
    background-color: #7a7c6b;
    cursor: pointer;
}

body > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #281606;
    color: #fff;
    padding: 40px 0;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    background-color: #281606;
    color: #fff;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: all 2s;
    left: 0;
    position: absolute;
    z-index: 2;
}

.mob-menu a {
    color: #fff;
    text-decoration: none;
}

.mob-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mob-menu li {
    margin: 0 0 50px 0;
    padding: 0;
}

.hidden {
    left: -200vh;
}

.nav-toggle {
    display: none;
    font-size: 30px;
}

#mob-close {
    font-size: 40px;
    position: absolute;
    right: 60px;
    top: 30px;
}

#mob-close:hover {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .header-main {
        flex-direction: column-reverse;
    }

    .header-text {
        margin-top: 20px;;
    }
    .box-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        margin-bottom: 30px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle:hover {
        cursor: pointer;
    }

    .nav-right {
        display: none;
    }

    .mob-menu {
        top:0;
    }
}